body {
  /*font-family: pacifico;*/
}
.jumbotron {
  background-color: #174F56;
  color: #fff;
  font-family: pacifico;
}

h1 {
  text-align: center;

}
h2{
  font-family: pacifico;
}

li {
  font-family: monospace;
}
