body {
  /*font-family: pacifico;*/
}
.jumbotron {
  background-color: #174F56;
  color: #fff;
  font-family: pacifico;
}

h1 {
  text-align: center;

}
h2{
  font-family: pacifico;
}

li {
  font-family: monospace;
}

.customFont{
  font-family:pacifico;
}

p{
  text-align: center;
}

a {
  text-decoration: none;
  color:#7FD3C8;
  border-bottom: 2px solid #ff3300;

}

a:hover{
  background-color: #000;
}
